extends layout.pug 

block css_link
  link(rel="stylesheet", href="/css/settings.css")

block content
  .profile-container
    .sections-bar 
      .personal-info
        button.info-btn.button#set-1
          h1 Personal Info
      .purchases
        button.purchses-btn.button#set-2
          h1 Purchases
      .security
        button.security-btn.button#set-3
          h1 Privacy & Security

    .setting-forms
      .current-setting
      .info-form(style="display:none;")
        form.user-info#set-1
          h3 Full Name
          .full-name
            label(for=`firsName`) First Name
            input(type=`text` name=`firstName`)
          .lastName
            label(for=`lastName`) Last Name
            input(type=`text` name=`lastName`)
          h3 Contact
          .phone-number 
            label(for=`phoneNumber`) Contact Number
            input(type=`number` name=`phoneNumber`)
          .email 
            label(for=`email`) Email 
            input(type=`text` name=`email`)
          h3 Address
          .address 
            label(for=`street`) Street Address
            input(type=`text` name =`street` id=`street-address`)
            label(for=`city`) City
            input(type=`text` name=`city`)
            label(for=`state`) State 
            input(type=`text` name=`state`)
            label(for=`zipcode`) Zip Code 
            input(type=`number` name=`zipcode`)
          button(type=`submit` class="update-user-btn" id=`btn`) Save Changes
      .change-password(style="display:none;")
        form.password-change#set-3
          div.old-password
            label(for=`old-password`) type your old password 
            input(type=`password` name=`old-password`)
          div.new-password
            label(for=`new-password`) create a new password
            input(type=`password` name=`new-password`)
          div.confirm-password
            label(for=`confirm-password`) retype your new password
            input(type=`password` name=`confirm-password`)
          button(type=`submit`) Save Changes

  script(src=`js/profile.js`)
